<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        testdox="true"
        testdoxSummary="true"
>

    <testsuites>
        <testsuite name="Localization Test">
            <directory>tests/Localization</directory>
        </testsuite>
        <testsuite name="Validator Test">
            <directory>tests/Validator</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Test ortamı ayarları -->
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
    </php>

</phpunit>